.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.title {
  font-weight: 500;
  font-size: 48;
  text-align: center;
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 410px;
  flex-direction: column;
}